//- views/rating-page.jade
html
  head
    title!= title
    // 注释移到单独一行（或直接删除注释）
    link(rel="stylesheet", href="/css/rating-page.css")
  body
    .rating-container
      h1 热烈欢迎用户: #{username},请您为以下电影打分:
      form.rating-form(action='/submituserscore', method='post')
        input(type='hidden', name='userid', value=userid)
        table.movie-rating-table(cellpadding="10" cellspacing="5")
           tr
             - for(var i = 0; i < selectedMovies.length; i++)
              td
                p.movie-name #{selectedMovies[i].moviename}
                input(type='hidden', name='moveid', value=selectedMovies[i].moveid)
                img.movie-poster(src=selectedMovies[i].picture, width="120", height="180")
                br
                select.rating-select(name='moviescore')
                  option(value=1) 1
                  option(value=2) 2
                  option(value=3) 3
                  option(value=4) 4
                  option(value=5) 5
               - if((i + 1) % 5 == 0)
                tr
        input.submit-button(type='submit', value='提交')